.title {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  margin: 0;
  margin-bottom: 16px;
}

/* Make the chart box fluid so it can expand to the sidebar width on desktop */
.box {
  width: 100%;
  max-width: 520px; /* reasonable max so chart doesn't get huge */
  height: 333px;
  position: relative;
  box-sizing: border-box;
}

.centerText {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  text-align: center;
}

@media (min-width: 768px) {
  .centerText {
    top: 180px;
    left: 170px;
    height: 32px;
    width: 180px;
  }
}
