body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-bg-main);
  background-image: linear-gradient(135deg, #24175a 0%, #1e065e 100%);
  color: var(--color-white);
  min-height: 100vh;
}

/* Glassmorphism Kart Yapısı */
.glass-container {
  background: var(--color-glass-bg);
  backdrop-filter: var(--blur-glass);
  border-radius: 20px;
  box-shadow: var(--shadow-main);
}